<section class="main-content align-center">
    <div class="form-container">
        <h1>Registrar-se</h1>
        <form action="/admin/register" method="post">
            <div class="form-field-container">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" required="true" placeholder="Digite seu e-mail">
            </div>
            <div class="form-field-container">
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" required="true" placeholder="Digite sua senha">
            </div>
            <div class="form-field-container">
                <input type="number" name="userVerificationCode" id="userVerificationCode" required="true" placeholder="Digite seu código de verificação">
            </div>
            <div class="form-field-container">
                <input type="submit" value="Criar conta" class="submit-btn">
            </div>
        </form>
        <div>
            <a href="/admin/login">Entrar</a>
        </div>
    </div>
</section>