DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=painting_sales_website

SECRET=sua_chave_secreta

SYSTEM_ADMIN_EMAIL=seu_email@gmail.com

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
TRANSPORT_AUTH_USER=
TRANSPORT_AUTH_PASS=

TOKEN_MERCADO_PAGO=SEU_TOKEN_MERCADO_PAGO