/* Início das fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Fim das fontes */ 

:root {
    --form-color: #000000;
    --form-font-color: #fff;
    --menu-font: "Montserrat", sans-serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: calc(100vh - 91px); */
    text-align: center;
    padding: 50px;
    font-family: var(--menu-font);
    border-radius: 10px;
    margin: 30px auto;
    max-width: max-content;
    background-color: var(--form-color);
    color: var(--form-font-color);
}

.form-container a {
    text-decoration: underline;
    font-size: 1.1em;
}

.form-container > form {
    
}

.form-container > h1 {
    font-size: 2.3em;
}

.form-container > form > .form-field-container {
    margin: 35px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.form-container > form > .form-field-container label {
    font-size: 1.3em;
    margin-right: 20px;
}

.form-container > form > .form-field-container input {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 1.1em;
    border: none;
}

.form-container > form > .form-field-container .submit-btn {
    margin: 0 auto;
    cursor: pointer;
    transition: .5s;
    background-color: #1958f8;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
}

.form-container > form > .form-field-container .submit-btn:hover {
    background-color: #0c45d3;
}

@media screen and (max-width: 800px) {

    .form-container {
        margin-top: 100px;
    }

    .form-container > form > .form-field-container {
        flex-direction: column;
    }

    .form-container > form > .form-field-container label {
        font-size: 1.3em;
        margin-right: 0px;
        margin-bottom: 10px;
    }

}