<!-- div teste !!!!!!!!!!!!!ADICIONAR padding-top no css mobile (por causa do btn menu)!!!!!!!!!!!! -->
<section class="inicio" id="inicio">
    <h2>Início</h2>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
    </div>
</section>
<!-- fim div teste -->

<!-- Início galeria grid -->
<section class="galeria" id="galeria">
    <h2>Galeria</h2>
    <div class="grid-container">
        {{#each paintings}}
            <a href="?id={{this.id}}">
                <div class="grid-card">
                    <img src="/img/paintings/{{this.image}}" alt="#" class="card-img">
                </div>
            </a>
        {{/each}}
        {{!-- <a href="?quadro=q1">
            <div class="grid-card">
                <img src="/img/paintings/cover_1.webp" alt="#" class="card-img">
            </div>
        </a> --}}
    </div>
</section>
<!-- Fim galeria grid -->

<!-- /* excluir /* -->
<div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
</div>
<div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
</div>
<div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus ducimus placeat quo, corporis ad asperiores soluta itaque ex ullam autem aperiam nostrum perspiciatis quibusdam excepturi assumenda laudantium, iure repellat!
</div>